<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Empleados</h1>
        </div>
        <div class="col-4">
            <button class="btn btn-success addEmployeeButton" (click)="addEmployee()">Añadir Empleado</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="secondName">
                        <th mat-header-cell *matHeaderCellDef>Segundo Nombre</th>
                        <td mat-cell *matCellDef="let element"> {{element.secondName}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef>Apellido</th>
                        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="secondLastName">
                        <th mat-header-cell *matHeaderCellDef>Segundo Apellido</th>
                        <td mat-cell *matCellDef="let element"> {{element.secondLastName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>Correo electrónico</th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>


                    <ng-container matColumnDef="country">
                        <th mat-header-cell *matHeaderCellDef>País</th>
                        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                    </ng-container>


                    <!-- Symbol Column -->
                    <ng-container matColumnDef="area">
                        <th mat-header-cell *matHeaderCellDef>Area</th>
                        <td mat-cell *matCellDef="let element"> {{element.area}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ingress">
                        <th mat-header-cell *matHeaderCellDef>Fecha ingreso</th>
                        <td mat-cell *matCellDef="let element"> {{element.ingress | date:"dd-MM-yyyy" }} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Estado</th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>


                    <ng-container matColumnDef="edition">
                        <th mat-header-cell *matHeaderCellDef>Edición</th>
                        <td mat-cell *matCellDef="let element"> {{element.updatedAt | date:"dd-MM-yyyy" }} </td>
                    </ng-container>


                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td mat-cell *matCellDef="let element">
                          <button class="btn btn-sm btn-warning" (click)="goEdit(element._id);">Editar</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
