<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>
                {{ title }}
            </h1>
        </div>
        <div class="col-4">
            <button class="btn btn-success" (click)="editEmployee();">Guardar</button>
        </div>
    </div>

    <div class="row">
        <form [formGroup]="form">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="name">
            </div>

            <div class="mb-3">
                <label class="form-label">Segundo Nombre</label>
                <input type="text" class="form-control" formControlName="secondName">
            </div>

            <div class="mb-3">
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control" formControlName="lastName">
            </div>

            <div class="mb-3">
                <label class="form-label">Segundo Apellido</label>
                <input type="text" class="form-control" formControlName="secondLastName">
            </div>

            <div class="mb-3">
              <label class="form-label">Tipo de documento</label>
              <select class="form-select" formControlName="idType">
                <option value="CC">Cédula de ciudadanía</option>
                <option value="CE">Cédula de extranjería</option>
                <option value="P">Pasaporte</option>
                <option value="PE">Permiso Especial</option>
             </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Número de documento</label>
            <input type="text" class="form-control" formControlName="idNumber">
        </div>

            <div class="mb-3">
                <label class="form-label">Area</label>
                <select class="form-select" formControlName="area">
                  <option value="Administración">Administración</option>
                  <option value="Financiera">Financiera</option>
                  <option value="Compras">Compras</option>
                  <option value="Infraestructura">Infraestructura</option>
                  <option value="Operación">Operación</option>
                  <option value="Talento Humano">Talento Humano</option>
                  <option value="Servicios Varios">Servicios Varios</option>
               </select>
            </div>

            <div class="mb-3" *ngIf="isEdit">
                <label class="form-label">Estado</label>
                <select class="form-select" formControlName="status">
                  <option value="Active">Activo</option>
                  <option value="Inactive">Inactivo</option>
                </select>
            </div>

            <div class="mb-3">
              <label class="form-label">País</label>
              <select class="form-select" formControlName="country">
                <option value="COL">COLOMBIA</option>
                <option value="USA">ESTADOS UNIDOS</option>
              </select>
          </div>

            <div class="mb-3">
              <label class="form-label">Fecha ingreso</label>
              <input type="date" class="form-control" formControlName="ingress">
          </div>

        </form>

    </div>

</div>
